/* Box*/

html{
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}


body{
    font-family: Arial;
    background-color: rgb(26, 26, 26);
}

header{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

main{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: rgb(248, 248, 248);
}

#calculatorBody{
    width: 80vw;
    height:inherit;
    padding: 0 0 12px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(223, 223, 223);
}


#display{
    color: rgb(0, 0, 0);
    align-self: normal;
    justify-self:flex-start;
    font-weight: 800;
    height: 50px;
    background-color: rgba(82, 87, 92, 0.301);
    padding: 20px;
    text-align: start;
    
}

#calculatorInputs{
    padding: 10px 0;
    display: flex;
    column-gap: 20px;
    align-items:flex-start;
}


#numbers{
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    
}


#operators{
    display: flex;
}

#cleanButtons{
    display: flex;
}

#nonZero{
    display: flex;
    flex-direction: column-reverse;
}

#numberZero{
    width: initial;
}
/* Children Box*/

ul{
    padding: 0;
}


.num, .operator, .cleanButton{
    flex: 0 1 16px;
    list-style-type: none;
    flex-direction: column;
    padding: 16px;
    
    width: 16px;
    
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
}

.num:hover, .operator:hover, .cleanButton:hover{
    font-weight: 500;
    background-color: rgb(201, 201, 201);
}


.numberGroup{
    display:flex;
}






